<div class="table">
  <table class="ui celled padded table">
    <thead>
      <tr>
        <ng-container *ngFor="let header of headers">
          <th (click)="onOrderChange(header)">
            <span>
              {{ header }}
            </span>
            <i *ngIf="order === header" class="sort icon" [className]="direction === 'ASC' ? 'sort icon down' : 'sort icon up'"></i>
          </th>
        </ng-container>
      </tr>
    </thead>
    <ng-container *ngFor="let item of itemsPage[number]">
      <tbody>
        <tr>
          <ng-container *ngFor="let header of headers; let i= index">
            <td>
              <ng-container *ngIf="i > 0; else imgField ">
                {{item[header]}}
              </ng-container>
              <ng-template #imgField>
                <img [src]="item[header]" [width]=64 [height]=64>
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </ng-container>
    <tfoot>
      <tr><th colspan="5">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <ng-container *ngFor="let number of itemsPage | keyvalue">
            <a class="icon item" (click)="onChangePage(number.key)">
              {{number.key}}
            </a>
          </ng-container>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th>
    </tr></tfoot>
  </table>
  <div>

  </div>
</div>
