.item-menu {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__favorites {
/*     width: 100%;
 */  }

 > * {
   margin: 16px;
 }

 &__filters {
   margin-left: auto;
   }

}
