<div class="item-menu">
  <div class="ui labeled button item-menu__favorites" (click)="onOpenFavorites()">
    <div class="ui yellow button">
      <i class="star icon"></i> Favorites
    </div>
    <a class="ui basic yellow left pointing label item-menu__favorites-counter">
      {{ favorites }}
    </a>
  </div>
  <div>
    <app-sort-items [keys]="keys" [keySelected]="keySelected" [direction]="direction"
      (sortChanged)="onSortChanged($event)"></app-sort-items>
  </div>
  <div class="item-menu__filters">
    <app-filters [filters]="keys" [filtersApplied]="filtersApplied" (filtersUpdate)="onApplyFilters($event)">
    </app-filters>

  </div>
</div>
