<div class="filters" #filterSelector>
  <ng-container *ngIf="filterAvailables.length">
    <div class="filters__button">
      <button (click)="onAddFilter()" class="ui primary button">
        Añadir filtro
      </button>
    </div>
  </ng-container>
  <div>
    <ng-container *ngFor="let filterApplied of filtersApplied; let i = index">
      <app-pill [primaryText]="filterApplied.type" [secondaryText]="filterApplied.text"
        (closeClick)="onDeleteAppliedFilter(i)">
      </app-pill>
    </ng-container>
  </div>
  <ng-container *ngIf="currentFilter">
    <div class="filters__selector">
      <app-filter [filtersAvailables]="filterAvailables" (filterDeleted)="onDeleteCurrentFilter()"
        (filterSelected)="onApplyFilter($event)">
      </app-filter>
    </div>
  </ng-container>
</div>
